---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <img src="img/segn2_logo_se.png" style="width: 100%;"></img>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

      <p>
        Crossing Red-Helios is a storytelling and worldbuilding project set in a universe designed using the game Space Engineers. 
        The primary story of CRH is released in a graphic novel comprised of in-game screenshots, with supplementary trailer videos 
        and cinematic re-enactments of scenes from the graphic novel itself.
      </p>

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="{{"/downloads" | relative_url }}">Read Crossing Red-Helios &rarr;</a>
      </div>
    </div>
    
    <div class="row-2">
      <h1>New Draconic Republic</h1>
      <div style="display: flex; flex-direction: row; justify-content: stretch; align-items: stretch;">
        <div style="width: 50%;">
          <p style="width: 90%;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quisquam ut perspiciatis, 
            repudiandae nulla animi iste vel, praesentium repellendus molestias aliquid consequatur, 
            earum rem qui error voluptates eius enim consequuntur!
          </p>
        </div>
        <img src="img/flag_ndr.png" style="width: 50%"></img>
      </div>
    </div>

    <div class="row-2">
      <h1 style="text-align: right;">Royal Guardian Union</h1>
      <div style="display: flex; flex-direction: row; justify-content: stretch; align-items: stretch;">
        <img src="img/flag_rgu.png" style="width: 50%"></img>
        <div style="width: 50%;">
          <p style="width: 90%; text-align: right; float: right">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quisquam ut perspiciatis, 
            repudiandae nulla animi iste vel, praesentium repellendus molestias aliquid consequatur, 
            earum rem qui error voluptates eius enim consequuntur!
          </p>
        </div>
      </div>
    </div>
  </div>
