---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <img src="img/segn2_logo_se.png" style="width: 100%;"></img>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

      <p>
        Crossing Red-Helios is a storytelling and worldbuilding project set in a universe designed using the game Space Engineers. 
        The primary story of CRH is released in a graphic novel comprised of in-game screenshots, with supplementary trailer videos 
        and cinematic re-enactments of scenes from the graphic novel itself.
        <br><br>
        CRH is also a collaborative community project. Players of Space Engineers are free to join the project and contribute to its lore and content.
      </p>

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="{{"/downloads" | relative_url }}">Read Crossing Red-Helios &rarr;</a>
      </div>
    </div>

    <div class="row-2">
      <h1>The Draconis Cluster</h1>
      <p>A cluster of stars in the Large Magellanic Cloud dwarf galaxy. Originally colonised under the believe that these systems
        held great importance to a major religious organisation based in the Milky Way, political and economic strife in the home galaxy
        lead to the abandonment of the extra-galactic colonise — leaving the history of Dracona to develop in isolation for the next
        200 years.
      </p>
      <img src="img/segn2_chart.png" style="width: 100%"></img>
    </div>

    <div class="row-2">
      <h1>The Story of Andrei Grisson</h1>
      <div style="display: flex; flex-direction: row; justify-content: stretch; align-items: stretch;">
        <div style="width: 50%;">
          <p style="width: 90%;">
            A former smuggler who worked to bring supplies and technology from the northern systems down to the frontier.
            His career came to an abrupt end during the infamous NDR military operation known as "Severed Artery" in which
            the NDR destroyed the hidden network of deep space jump gates used to covertly travel to the northern regions of
            Dracona.
          </p>
        </div>
        <img src="img/andrei_grisson.jpg" style="width: 50%"></img>
      </div>
    </div>

    <div class="row-2">
      <h1 style="text-align: right;">A Fight For Freedom</h1>
      <div style="display: flex; flex-direction: row; justify-content: stretch; align-items: stretch;">
        <img src="img/index-1.jpg" style="width: 50%"></img>
        <div style="width: 50%;">
          <p style="width: 90%; text-align: right; float: right">
            200 years after the signing of the Myca accord, the Frontier is threatened once more by outside powers
            seeking to control the region. The innumerable factions of these border systems remain splintered, yet rumors
            have begun circulating that new organisation calling itself the "Red-Helios Alliance" is working to unite the Frontier
            and repel the northern invasions.
          </p>
        </div>
      </div>
    </div>

    <div class="row-2">
      <h1>New Draconic Republic</h1>
      <div style="display: flex; flex-direction: row; justify-content: stretch; align-items: stretch;">
        <div style="width: 50%;">
          <p style="width: 90%;">
            Successor to the Six Suns Federation [SSF], considered to have
            been the greatest of the major powers for much of the history of the
            Draconis Cluster. The NDR is often cited as the envy of Draconans,
            with a stable society and safe systems. Yet the republic possesses
            a highly nationalistic view and a closed immigration policy, leaving
            the rest of the cluster to fend for itself against the chaos of stellar
            history.
          </p>
        </div>
        <img src="img/flag_ndr.png" style="width: 50%"></img>
      </div>
    </div>

    <div class="row">

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="{{"/downloads" | relative_url }}">Read Crossing Red-Helios &rarr;</a>
      </div>
    </div>
  
  </div>
